<app-header></app-header>
<!-- 
<p>{{price | currency: 'EUR'}}</p>
<p>{{data |json}}</p> -->
<!-- <h4>Wir testen pipes</h4> -->
<!-- <p>{{ textvar |truncate:200 }}</p> -->
<app-comp-a (halloWeltEvent)="loggerFkt($event)" [counterInput]="currentCount"></app-comp-a>

<p>{{ myText }}</p>

<app-comp-b></app-comp-b>

<button (click)="currentCount = 10">countchange</button>

<!-- <p>{{BananaService.count}}</p> -->

<!-- <button (click)="BananaService.increment()"> erhöhen</button> -->
<router-outlet />

<h1>{{ computedCound() }}</h1>

<button (click)="count.set(5)">setterSignal</button>

<button (click)="countmultiplier.set(10)">setterMultiplier</button>

<button (click)="signalUpdate()">update</button>

<!-- <app-product-detail></app-product-detail> -->

<!-- <app-product-list></app-product-list> -->

<!-- <h1>{{ our_text }}</h1>
<h2>{{ our_hover }}</h2> -->

<!-- <button [style.color]="getBtnColor()" [disabled]="isDisabled" (click)="textGen()">
  Klick Mich!
</button>

<button (mouseover)="hoverGen()">Hover Meeeee</button> -->

<!-- @if (lang == 'de') {
  <p>hallo Welt</p>
} @else if (lang == 'en'){
<p>hello world</p>
}@else(){
    <p>'language not found'</p>
} -->
<!-- 
<ul>

    @switch (errormsg) {
        @case("wrong text"){
            <p>Hey das war der falsche Text.</p>
        }
          @case("wrong number"){
            <p>Hey das war der falsche Nummer.</p>
        }
        @case(""){
            <p>hey alles hat geklappt!</p>
        }
        @default {
            <p>Hey wir wissen nicht was hier schief lief</p>
        }
    }
  @for (item of list; track item; let banana = $index; let count = $count) {
    <li>#{{ banana + 1 }}/{{ count }} : {{ item }}</li>
  }@empty {
    <li>There are no items.</li>
  }
</ul> -->

<!-- <a [routerLink]="['CompB', myVar ]">Moin ich bin ein Link!</a> -->
