<app-header></app-header>

<app-product-detail></app-product-detail>

<app-product-list></app-product-list>

<!-- <h1>{{ our_text }}</h1>
<h2>{{ our_hover }}</h2> -->

<!-- <button [style.color]="getBtnColor()" [disabled]="isDisabled" (click)="textGen()">
  Klick Mich!
</button>

<button (mouseover)="hoverGen()">Hover Meeeee</button> -->

<!-- @if (lang == 'de') {
  <p>hallo Welt</p>
} @else if (lang == 'en'){
<p>hello world</p>
}@else(){
    <p>'language not found'</p>
} -->

<ul>

    @switch (errormsg) {
        @case("wrong text"){
            <p>Hey das war der falsche Text.</p>
        }
          @case("wrong number"){
            <p>Hey das war der falsche Nummer.</p>
        }
        @case(""){
            <p>hey alles hat geklappt!</p>
        }
        @default {
            <p>Hey wir wissen nicht was hier schief lief</p>
        }
    }
  @for (item of list; track item; let banana = $index; let count = $count) {
    <li>#{{ banana + 1 }}/{{ count }} : {{ item }}</li>
  }@empty {
    <li>There are no items.</li>
  }
</ul>

<router-outlet />
